body{
    background: url("bg.jpg") no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* -----------------------------------Nav Bar--------------------------------------- */
nav{
    display: flex;
    align-items: center;
    background-color: #15499a;
    width: 100%;
    height: 3vw;
    position: fixed;
    top: 0;
    left: 0;   
    justify-content: center;
}
    
.logo{
    width: 7vw;
    height: 2.5vw;
    position: absolute;
    left: 5vw;
    
}
.text-login{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}
/* -----------------------------------Nav Bar--------------------------------------- */
